@import "../../Sass/Variables.scss";

.dropdown__inner {
  position: relative;
  background-color: $lightBlue;
  border: 1px solid $accent;
  border-radius: 5px;
  box-shadow: rgba($color: $darkBlue, $alpha: 0.2) 0px 2px 8px 0px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -100%);
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 6px solid $lightBlue;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -100%);
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 7px solid $accent;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}

.dropdown__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdown__link {
  display: block;
  width: 150px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: $gray;
  transition: color 0.25s ease;

  &--active {
    font-weight: 700;
    color: $accent;
  }

  &:hover {
    color: $accent;
  }
}

@media only screen and(max-width: 1000px) {
  .dropdown__inner {
    border: none;

    &::after {
      content: none;
    }

    &::before {
      content: none;
    }
  }
}
