.users {
  padding: 50px 0;
}

.users__top {
  margin-bottom: 16px;
}

.users__top__button {
  & + & {
    margin-left: 10px;
  }
}

.users__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  & + & {
    margin-top: 20px;
  }
}
